.dms-backend-option-type-multi-picker {
	padding-left: 0;
	padding-right: 0;
}

/* hide last inner option border */
.dms-postbox .dms-option-type-multi-picker > .dms-backend-options-group.choice-group:after,
.postbox-with-dms-options .dms-option-type-multi-picker > .dms-backend-options-group.choice-group:after,
.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders > .choice-group > .dms-backend-option:after,
.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders > .choice-group .dms-options-tabs-contents > .dms-inner > .dms-options-tab:after {
	content: ' ';
	display: block;
	border-top: 1px solid #fff;
	margin-top: -1px;
	position: relative;
}

.dms-option-type-multi-picker > .choice-group {
	display: none;
	padding-bottom: 0;
	border-bottom: 0;
}

.dms-option-type-multi-picker > .choice-group.chosen {
	display: block;

	-webkit-animation-name: dmsFadeIn;
	animation-name: dmsFadeIn;

	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.dms-option-type-multi-picker-dynamic-container.dms-backend-option-type-multi-picker:not(.dms-has-dynamic-choice) {
	display: none;
}

.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders:not(.has-choice) > .picker-group > .dms-backend-option,
.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders > .choice-group > .dms-backend-option-type-multi > div > div > div > div > .dms-backend-option:last-child,
.dms-option-type-multi-picker.dms-option-type-multi-picker-without-borders > .choice-group > .dms-backend-option-type-multi > div > div > div > div > .dms-backend-option {
	padding-bottom: 0; /* prevent backend-option double padding */
}

.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders.has-choice > .picker-group,
.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders > .choice-group > .dms-backend-option:not(:last-child) {
	border-bottom-width: 1px;
}

.dms-option-type-multi-picker.dms-option-type-multi-picker-without-borders > .picker-group,
.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders:not(.has-choice) > .picker-group {
	border-bottom-width: 0;
}

.dms-option-type-multi-picker > .picker-group > .dms-backend-option {
	padding-top: 0; /* prevent backend-option double padding */
	padding-bottom: 0; /* prevent backend-option double padding */
}

.dms-option-type-multi-picker.dms-option-type-multi-picker-with-borders > .picker-group > .dms-backend-option {
	padding-bottom: 21px;
}

.dms-backend-option-type-multi-picker.dms-backend-option-design-customizer .dms-option-type-multi-picker > .picker-group {
	padding-bottom: 10px;
}

/* tabs fixes */

.dms-option-type-multi-picker > .choice-group .dms-options-tabs-wrapper > .dms-options-tabs-list,
.dms-option-type-multi-picker > .choice-group .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding-left: 27px; /* same as .dms-backend-option-design-default */
}

.dms-option-type-multi-picker > .choice-group .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding-top: 24px; /* same as .dms-backend-option-design-default */
}

.dms-option-type-multi-picker > .choice-group .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding-top: 20px;
}

.dms-option-type-multi-picker > .choice-group .dms-options-tabs-wrapper > .dms-options-tabs-contents {
	margin-top: 0;
}

/* end: tabs fixes */

