/* bigger z-index: make sure it's bigger than dms.OptionsModal's z-index (but do not increase this too much to not affect others) */

.dms-option-type-upload .media-modal {
	z-index: 170001;
}

.dms-option-type-upload .media-modal-backdrop {
	z-index: 170000;
}

.wp-customizer .dms-option-type-upload .media-modal {
	z-index: 560101;
}

.wp-customizer .dms-option-type-upload .media-modal-backdrop {
	z-index: 560100;
}

/* end: bigger z-index */

.dms-option-type-upload .delete-attachment {
	display: none;
}