/*
Included on pages where backend options are rendered
*/


/* General */

.postbox-with-dms-options > .inside,
.dms-postbox > .inside {
	padding: 0 0 5px !important;
	margin: 10px 0 0 !important;
	position: relative;
}

.dms-backend-option {
	opacity: 0;

	transition: opacity ease 0.3s;
	-webkit-transition: opacity ease 0.3s;
}

.dms-backend-option.initialized {
	opacity: 1;
}

.dms-backend-option .dms-backend-option-input input[type="text"],
.dms-backend-option .dms-backend-option-input input[type="password"],
.dms-backend-option .dms-backend-option-input select,
.dms-backend-option .dms-backend-option-input textarea {
	width: 100%;
	max-width: 100%;
}

.dms-backend-postboxes.metabox-holder,
#wpbody-content .dms-backend-postboxes.metabox-holder {
	padding-top: 0;
}


/* Tabs */

.dms-options-tabs-list ul,
.dms-options-tabs-list ul li {
	margin: 0;
	padding: 0;
}

.dms-options-tabs-wrapper {
	opacity: 0;

	transition: opacity ease 0.3s;
	-webkit-transition: opacity ease 0.3s;
}

.dms-options-tabs-wrapper.ui-tabs {
	opacity: 1;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list {
	border-bottom: 1px solid #CCC;
	/*padding: 0 10px;*/
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul,
.dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	padding: 0;
	margin: 0;
}
.post-type-product .dms-options-tabs-wrapper {
	border: none;
	padding: 10px 0;
}
.post-type-product .dms-options-tabs-wrapper > .dms-options-tabs-list ul,
.post-type-product .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	border: none !important;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	float: left;
}

body.rtl .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	float: right;
	margin-right: 0px;
	margin-left: 6px;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
	padding: 6px 12px;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #ccc;
	margin-top: 0;
	margin-bottom: -1px;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab:hover {
	color: #000;
	background-color: #f1f1f1;
}

.postbox .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 10px 10px 0 10px;
}

.postbox .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
	background-color: #f1f1f1;
}

.postbox .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab:hover {
	background-color: #f8f8f8;
}

.postbox .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	border-bottom-color: #fff;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	color: #222;
	background: 0 0;
	border-bottom-color: #f1f1f1;
}

.dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab:hover {
	background: 0 0;
}

.dms-options-tabs-list ul li a.nav-tab:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents,
#wpbody-content .metabox-holder.dms-options-tabs-contents {
	padding-top: 0;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents {
	margin-top: 20px;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0 0 0 5px;
	border-bottom-width: 0;
}
body.rtl .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0 5px 0 0;
}

.postbox .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0 0 0 25px;
}
body.rtl .postbox .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0 25px 0 0;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:after {
	content: '|';
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:last-child:after {
	content: none;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul > li {
	float: left;
	color: #666;
	margin-right: 0;
}
body.rtl .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul > li {
	float: right;
	margin-left: 0;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
	background: none;
	border: none;
	padding: 0;
	margin: 0 5px;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab.dms-wp-link {
	color: #0074a2;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:first-child a.nav-tab {
	margin-left: 0;
}
body.rtl .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:first-child a.nav-tab {
	margin-left: 5px;
	margin-right: 0;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	background: none;
	padding: 0;
	border: none;
	color: #000;
}

.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab {
	position: relative;
}

@media (max-width: 782px) {
	.dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
		float: none;
	}

	.dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
		display: block;
		text-align: center;
	}

	.dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
		display: inline;
	}
}


/* Postbox */

.dms-postbox {
	opacity: 0;

	transition: opacity ease 0.3s;
	-webkit-transition: opacity ease 0.3s;
}

.dms-postbox.initialized {
	opacity: 1;
}

/* end: Postbox */


/* Side tabs */

form.dms-settings-form.dms-backend-side-tabs {
	background-color: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.dms-backend-side-tabs .dms-options-tabs-first-level {
	background:
		#fff
		url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAABCAYAAAAo/lyUAAAAIklEQVQ4T2N8/Pjxf4ZRMBoCoyEwGgKjITAaAqMhMKRDAACcIAOqH7nZlwAAAABJRU5ErkJgggAA') /* #e3e3e3 500x1 */
		-302px /* 198-500 */
		0
		repeat-y;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list {
	width: 198px;
	margin: 0;
	padding: 0 0 70px;
	float: left;
	border-bottom: none;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list {
	float: right;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents {
	margin-left: 198px !important;
	background: #fff;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner {
	width: 100%;
	min-height: 100%;
	border-right: 1px solid #e5e5e5;
	display: table;
	padding-bottom: 70px;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li {
	float: none;
	margin-right: 0;
	border: 1px solid #d3d3d3;
	border-width: 0 0 1px;
	overflow: hidden;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:first-child a.nav-tab {
	margin: 0;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	border-left: 1px solid #e5e5e5;
	border-right: none;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	float: none;
	margin-left: 0;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a.nav-tab {
	position: relative;
	outline: none;
	margin: 0;
	padding: 0 10px 0 20px;
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: 43px;
	line-height: 43px;
	border: none;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	-webkit-box-shadow: none;
	box-shadow: none;
}

body.branch-4-0 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a.nav-tab,
body.branch-4-1 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a.nav-tab,
body.branch-4-2 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a.nav-tab,
body.branch-4-3 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a.nav-tab {
	height: 44px;
	line-height: 44px;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list .ui-tabs-nav a:hover {
	background: #dadada;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li.ui-state-active {
	border-color: #b1b1b1;
	margin-top: -1px;
	border-width: 1px 0;
	position: relative;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li.ui-state-active:first-child {
	margin-top: 0;
	border-top-width: 0;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	font-weight: 600;
	margin: 0;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li.ui-state-active a.nav-tab,
.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li.ui-state-active a.nav-tab:hover {
	background: #bdbdbd;
	color: #fff;
}

body.rtl .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents {
	margin-left: 0 !important;
	margin-right: 198px !important;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	border-bottom-color: #fff;
}

.dms-backend-side-tabs .dms-options-tabs-list ul li:focus {
	outline: none;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list {
	padding: 0;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li:after {
	content: none;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul {
	padding: 0;
	background: #f7f7f7;
	border-width: 1px 0;
	clear: both;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul:before,
.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul:after {
	display: table;
	content: " ";
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul:after {
	clear: both;
	margin-bottom: -1px;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul {
	border-bottom: 1px solid #e5e5e5;
}

body.branch-4-0 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li,
body.branch-4-1 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li,
body.branch-4-2 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li,
body.branch-4-3 .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	border-bottom: 1px solid #e5e5e5;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
	position: relative;
	border-right: 1px solid #e5e5e5;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active:after {
	height: 1px;
	background: #fff;
	width: 100%;
	display: block;
	content: ' ';
	position: absolute;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab,
.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	margin: 0;
	padding: 0 24px;
	border: none;
	height: 44px;
	line-height: 44px;
	font-size: 14px;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab {
	background: transparent;
	color: #000;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
	background: #fff;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul > li a.nav-tab:hover {
	color: #0074a2;
}

.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents,
.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-contents {
	margin-top: 0;
}

/* hide last option border */
.dms-backend-side-tabs .dms-options-tabs-wrapper > .dms-options-tabs-contents > .dms-inner:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #FFFFFF;
	margin-top: -2px;
	position: relative;
}

.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox.closed {
	margin-bottom: 0;
}

.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle {
	position: relative;
	padding: 0 25px;
	height: 46px;
	line-height: 45px;
	border-bottom: none !important;
	font-size: 17px;
	color: #0074a2;
}

body.branch-4-0 .dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle,
body.branch-4-1 .dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle,
body.branch-4-2 .dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle,
body.branch-4-3 .dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle {
	height: 47px;
}

.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .hndle:after {
	content: "";
	display: block;
	position: absolute;
	left: 0; right: 0; bottom: 0;
	height: 1px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	z-index: 1;
}

/*.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .handlediv {
	display: none;
}*/

.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .handlediv:before {
	top: 4px;
}

.dms-backend-side-tabs input[type="submit"]:focus {
	outline: none;
}

@media (max-width: 782px) {
	.dms-backend-side-tabs .dms-options-tabs-first-level {
		background-image: none;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list {
		width: 100%;
		text-align: center;
		float: none;
		padding: 0;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-list ul li {
		margin-top: 0;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents {
		float: none;
		margin-left: 0 !important;
	}

	body.rtl .dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents {
		margin-right: 0 !important;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner {
		padding-bottom: 0;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul {
		height: auto;
		border-bottom-width: 0;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
		float: none;
		width: 100%;
		text-align: center;
		border-right-width: 0;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active:after {
		display: none;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
		margin-bottom: 0;
		border-bottom-width: 0;
		display: block;
	}

	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li a.nav-tab,
	.dms-backend-side-tabs .dms-options-tabs-first-level > .dms-options-tabs-contents > .dms-inner > .dms-options-tab > .dms-options-tabs-wrapper > .dms-options-tabs-list ul li.ui-state-active a.nav-tab {
		width: 100%;
		height: auto;
		padding: 0;
		display: block;
	}

	.dms-backend-side-tabs .dms-backend-postboxes > .dms-postbox > .handlediv:before {
		top: 2px;
	}
}

@media (max-width: 782px){
	body.rtl .dms-options-tabs-wrapper > .dms-options-tabs-list ul li {
		float: none;
	}
}


/* form header */

.dms-backend-side-tabs .dms-settings-form-header {
	background-color: #0074a2;
	margin-top: 20px;
	opacity: 0;
	transition: opacity ease 0.3s;
	-webkit-transition: opacity ease 0.3s;
}

/* make it match with admin color themes */
body.admin-color-light .dms-backend-side-tabs .dms-settings-form-header { background-color: #777 }
body.admin-color-light .dms-backend-side-tabs .dms-options-tabs-first-level { background: #ddd }
body.admin-color-blue .dms-backend-side-tabs .dms-settings-form-header { background-color: #4796b3 }
body.admin-color-coffee .dms-backend-side-tabs .dms-settings-form-header { background-color: #46403c }
body.admin-color-ectoplasm .dms-backend-side-tabs .dms-settings-form-header { background-color: #413256 }
body.admin-color-midnight .dms-backend-side-tabs .dms-settings-form-header { background-color: #26292c }
body.admin-color-ocean .dms-backend-side-tabs .dms-settings-form-header { background-color: #627c83 }
body.admin-color-sunrise .dms-backend-side-tabs .dms-settings-form-header { background-color: #be3631 }

.dms-backend-side-tabs .dms-settings-form-header.initialized {
	opacity: 1;
}

.dms-backend-side-tabs .dms-settings-form-header a:focus {
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dms-backend-side-tabs .dms-settings-form-header > div {
	padding: 20px 20px 20px 30px;
}

.dms-backend-side-tabs .dms-settings-form-header h2 {
	position: relative;
	font-size: 27px;
	font-weight: 300;
	line-height: 1;
	color: #fff;
	padding: 0;
	margin: 0;
}

.dms-backend-side-tabs .dms-settings-form-header h2 small {
	margin-left: 9px;
	font-size: 12px;
	font-weight: 300;
	color: #fff;
	opacity: .6;
	white-space: nowrap;
}

.dms-backend-side-tabs .dms-settings-form-header h2 a,
.dms-backend-side-tabs .dms-settings-form-header h2 a:hover {
	text-decoration: none;
}

.dms-backend-side-tabs .dms-settings-form-header h2 a:hover small {
	opacity: 1;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons {
	text-align: right;
}

body.rtl .dms-backend-side-tabs .dms-settings-form-header .form-header-buttons {
	text-align: left;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons input {
	-webkit-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	vertical-align: middle;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons input:active {
	vertical-align: middle;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons .submit-button-separator {
	display: inline-block;
	vertical-align: middle;
	margin: 0 12px;
	color: #358eb6;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.5);
	height: 14px;
	width: 1px;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons > * {
	line-height: 26px;
	vertical-align: middle;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons .submit-button-reset {
	padding: 0;
	height: 26px;
	color: #fff;
	background-color: transparent;
	border-width: 0;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons .submit-button-reset:hover {
	text-decoration: underline;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons .submit-button-save {
	padding: 0 18px;
	height: 26px;
	line-height: 24px;
	background: #fff;
	border-color: transparent;
	color: #0074a2;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons .submit-button-save:hover {
	background: #f5f5f5;
}

@media (max-width: 782px) {
	.dms-backend-side-tabs .dms-settings-form-header {
		text-align: center;
	}

	.dms-backend-side-tabs .dms-settings-form-header .form-header-buttons,
	body.rtl .dms-backend-side-tabs .dms-settings-form-header .form-header-buttons {
		text-align: inherit;
	}

	.dms-backend-side-tabs .dms-settings-form-header > div:first-child {
		padding-bottom: 0;
	}
}

/* end: form header */

/* footer buttons */

.dms-backend-side-tabs .form-footer-buttons {
	position: relative;
	min-height: 70px;
	border-top: 1px solid #e5e5e5;
	background: #f7f7f7;

	-webkit-animation: dmsFadeIn 3s ease-in;
	-moz-animation: dmsFadeIn 3s ease-in;
	-ms-animation: dmsFadeIn 3s ease-in;
	-o-animation: dmsFadeIn 3s ease-in;
	animation: dmsFadeIn 3s ease-in;
}

.dms-backend-side-tabs .dms-options-tabs-wrapper + .form-footer-buttons {
	margin: -71px 0 0 198px;
}

.dms-backend-side-tabs .dms-backend-option + .form-footer-buttons,
.dms-backend-side-tabs .dms-backend-postboxes + .form-footer-buttons {
	margin-top: -1px; /* hide last option border */
}

.dms-backend-side-tabs .form-footer-buttons input[type="submit"] {
	margin: 20px 0 0;
	float: left;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	border-radius: 2px;
}

body.rtl .dms-backend-side-tabs .form-footer-buttons input[type="submit"] {
	float: right;
	margin-left: 0;
	margin-right: 26px;
}

.dms-backend-side-tabs .form-footer-buttons input[type="submit"].button-primary {
	margin-left: 26px;
}

.dms-backend-side-tabs .form-footer-buttons input[type="submit"].button-secondary {
	margin-left: 13px;
}


body.rtl .dms-backend-side-tabs .dms-options-tabs-wrapper + .form-footer-buttons {
	margin: -71px 198px 0 0;
}

@media (max-width: 782px) {
	.dms-backend-side-tabs .dms-options-tabs-wrapper + .form-footer-buttons {
		margin: -1px 0 0; /* hide last option border */
	}

	body.rtl .dms-backend-side-tabs .dms-options-tabs-wrapper + .form-footer-buttons {
		margin: -1px 0 0;
	}
}

/* end: footer buttons */

/* end: Side tabs */

/* end: Tabs */


/* Boxes */

/* Fixes for edit post page */

form#post .dms-options-tabs-wrapper > .dms-options-tabs-contents .dms-backend-postboxes {
	padding: 0 10px;
}

/* end: Fixes for edit post page */

/* Fixes postboxes */

.dms-postbox-without-name > .hndle,
.dms-postbox-without-name > .handlediv,
.js .dms-postbox-without-name > .hndle,
.js .dms-postbox-without-name > .handlediv {
	display: none;
}

.dms-postbox .hndle {
	cursor: pointer !important; /* to rewrite .js .postbox .hndle */
}

.dms-postbox:not(.initialized) .hndle {
	display: none;
}

.dms-postbox .hndle .dms-html-before-title small:not(.dashicons),
.dms-postbox .hndle .dms-html-after-title small:not(.dashicons) {
	font-size: medium !important;
}

.dms-postbox .hndle .dms-html-before-title .dashicons,
.dms-postbox .hndle .dms-html-after-title .dashicons {
	width: auto;
	height: auto;
	color: #AAA; /* copied from .handlediv */
}

.dms-postbox .hndle .dms-html-before-title .dashicons:hover,
.dms-postbox .hndle .dms-html-after-title .dashicons:hover {
	color: #777; /* copied from .handlediv */
}

/* we do not use .meta-box-sortables because of the glitches that appears from /wp-admin/js/postbox.js:130 */
/* begin copy from: .js .meta-box-sortables .postbox .handlediv */

.dms-postbox .handlediv:before {
	top: 0;
	right: 0;
	padding: 8px 9px 8px 7px;
	font: 400 20px/1 dashicons;
	speak: none;
	display: inline-block;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: none!important;
}
body.rtl .dms-postbox .handlediv:before {
	left: 12px;
	right: auto;
}

.dms-postbox .handlediv:before {
	content: '\f142';
}

.dms-postbox.closed .handlediv:before {
	content: '\f140';
}

.dms-postbox .toggle-indicator {
	display: none; 
}

/* end copy from: .js .meta-box-sortables .postbox .handlediv */

/* end: Boxes */


/* Input Options */

.dms-backend-option-design-default {
	position: relative;
	padding: 24px 27px 21px;
	border: 0px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
}

.dms-backend-option-design-default.dms-bottom-border-hidden {
	border-bottom-color: transparent;
}

.dms-force-xs .dms-backend-option-design-default {
	padding: 15px 12px;
}

.postbox-with-dms-options > .inside > .dms-backend-options-last-border-hider,
.dms-postbox > .inside > .dms-backend-options-last-border-hider {
	position: absolute;
	bottom: 5px; /* padding from: .dms-postbox > .inside */
	left: 0;
	width: 100%;
	border-bottom: 1px solid #FFFFFF;
}
body.rtl .postbox-with-dms-options > .inside > .dms-backend-options-last-border-hider,
body.rtl .dms-postbox > .inside > .dms-backend-options-last-border-hider {
	right: 0;
	left: auto;
}

.dms-backend-option-design-default > .dms-backend-option-input > .dms-inner,
.dms-backend-option-design-customizer > .dms-backend-option-input > .dms-inner {
	position: relative;
	max-width: 100%;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dms-backend-option-design-default > .dms-backend-option-input.width-type-fixed > .dms-inner,
.dms-backend-option-design-customizer > .dms-backend-option-input.width-type-fixed > .dms-inner,
.dms-backend-option-fixed-width {
	width: 100%;
	max-width: 428px;
}

.dms-backend-option-design-default > .dms-backend-option-input.width-type-full > .dms-inner,
.dms-backend-option-design-customizer > .dms-backend-option-input.width-type-full > .dms-inner {
	width: 100%;
}

.dms-backend-option-design-default > .dms-backend-option-label label {
	font-weight: 600;
	float: left;
	margin-top: 0.1em;
	font-size: 14px;
}
body.rtl .dms-backend-option-design-default > .dms-backend-option-label label {
	float:right;
}

.dms-backend-option-design-default > .dms-backend-option-desc {
	font-style: italic;
	color: #666;
}

.dms-backend-option-design-default > .dms-backend-option-desc > .dms-inner {
	font-size: 1em;
	padding-top: 7px;
	padding-left: 1px;
}
body.rtl .dms-backend-option-design-default > .dms-backend-option-desc > .dms-inner {
	padding-left: inherit;
	padding-right: 1px;
}


.dms-backend-option-design-customizer {
	padding: 5px 0 10px;
}

.dms-backend-option-design-customizer > .dms-backend-option-desc {
	padding-bottom: 6px;
}

.dms-backend-option-design-customizer label,
.dms-backend-option-design-customizer label .customize-control-title {
	line-height: inherit;
}

.dms-backend-option-design-customizer > .dms-backend-option-label {
	padding-bottom: 5px;
}

.dms-backend-option-design-customizer > .dms-backend-option-label .dms-option-help {
	display: inline-block;
	vertical-align: middle;
}
.dms-backend-option-design-customizer > .dms-backend-option-label .customize-control-title {
	display: inline-block;
}

/* Options Groups */

.dms-backend-options-group:not(.show-borders) {
	border-bottom: 1px solid #eeeeee;
}

.dms-backend-options-group:not(.show-borders) > .dms-backend-option {
	border-bottom-width: 0;
}

.dms-backend-options-group:not(.show-borders) > .dms-backend-option:not(:last-child) {
	padding-bottom: 0;
}

/* .force-border .force-no-border */


/* end: Options Groups */


@media (max-width: 782px) {
	.dms-backend-option-design-default > .dms-backend-option-label > .dms-inner {
		padding: 0 0 10px;
	}

	.dms-backend-option-design-default.with-help > .dms-backend-option-label label {
		margin-right: 8px;
	}
	body.rtl .dms-backend-option-design-default.with-help > .dms-backend-option-label label {
		margin-right: 0px;
		margin-left: 8px;
	}

	.dms-backend-option-design-default > .dms-backend-option-label .dms-option-help {
		margin-top: 0;
	}
}

@media (min-width: 783px) {
	.dms-backend-option-design-default > .dms-backend-option-label > .dms-inner {
		padding: 3px 20px 0 0;
	}
	body.rtl .dms-backend-option-design-default > .dms-backend-option-label > .dms-inner {
		padding: 3px 0 0 20px;
	}
}


/* Options inside option fixes */

.dms-backend-option-type-html .dms-backend-option-design-default > .dms-backend-option-input {
	max-width: 100%;
}

.dms-backend-option-type-html .dms-backend-option-design-default {
	/* options inside html option have double padding */
	padding: 0;
}

/* end: Options inside option fixes */


/* .dms-force-xs have design like on mobile */

.dms-force-xs .dms-options-tabs-first-level > .dms-options-tabs-list ul li {
	float: none;
}

.dms-force-xs .dms-options-tabs-first-level > .dms-options-tabs-list ul li a {
	display: block;
}

.dms-force-xs .dms-backend-option-design-default > .dms-backend-option-label > .dms-inner,
body.rtl .dms-force-xs .dms-backend-option-design-default > .dms-backend-option-label > .dms-inner {
	padding: 0 0 10px;
}

.dms-force-xs .dms-backend-option-design-default.with-help > .dms-backend-option-label label {
	margin-right: 8px;
}
body.rtl .dms-force-xs .dms-backend-option-design-default.with-help > .dms-backend-option-label label {
	margin-right: 0px;
	margin-left: 8px;
}

.dms-force-xs .dms-backend-option-design-default > .dms-backend-option-label .dms-option-help {
	margin-top: 0;
}

/* end .dms-force-xs */


/* help icon */

.dms-backend-option .dms-option-help {
	cursor: pointer;
	color: #AAAAAA; /* copied from .handlediv */
}

.dms-backend-option .dms-option-help:hover,
.dms-backend-option .dms-option-help.active {
	color: #333333;
}

.dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner > .dms-option-help {
	position: absolute;
	top: 0;
	right: 0px;
}
body.rtl .dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner > .dms-option-help {
	right: auto;
	left: 0;
}

.dms-backend-option-design-default.with-help > .dms-backend-option-label > .dms-inner > .dms-option-help {
	float: left;
}
body.rtl .dms-backend-option-design-default.with-help > .dms-backend-option-label > .dms-inner > .dms-option-help{
	float: right;
}

@media (min-width: 783px) {
	.dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner {
		padding-right: 26px;
	}
	body.rtl .dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner {
		padding-right: 0;
		padding-left: 26px;
	}

	.dms-force-xs .dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner {
		padding-right: 0;
	}
	body.rtl .dms-force-xs .dms-backend-option-design-default.with-help > .dms-backend-option-input > .dms-inner {
		padding-right: inherit;
		padding-left: 0;
	}
}

/* end: help icon */


/* Edit Term page */

#edittag td.dms-backend-container-content {
	padding-left: 0;
}


#edittag > .dms-backend-option,
#edittag > .dms-backend-options-group > .dms-backend-option,
#edittag > .dms-backend-option-type-multi .dms-backend-option,
#edittag > .dms-backend-option-type-multi-picker .dms-backend-option {
	padding: 15px 0;
	border-bottom-width: 0;
}

@media (min-width: 783px) {
	#edittag > .dms-backend-option > .dms-backend-option-label,
	#edittag > .dms-backend-options-group > .dms-backend-option > .dms-backend-option-label,
	#edittag > .dms-backend-option-type-multi .dms-backend-option > .dms-backend-option-label,
	#edittag > .dms-backend-option-type-multi-picker .dms-backend-option > .dms-backend-option-label {
		width: 219px;
	}

	#edittag > .dms-backend-option > .dms-backend-option-input,
	#edittag > .dms-backend-options-group > .dms-backend-option > .dms-backend-option-input,
	#edittag > .dms-backend-option-type-multi .dms-backend-option > .dms-backend-option-input,
	#edittag > .dms-backend-option-type-multi-picker .dms-backend-option > .dms-backend-option-input {
		width: calc(100% - 219px);
	}

	#edittag > .dms-backend-option > .dms-backend-option-desc,
	#edittag > .dms-backend-options-group > .dms-backend-option > .dms-backend-option-desc,
	#edittag > .dms-backend-option-type-multi .dms-backend-option > .dms-backend-option-desc {
		margin-left: 219px;
	}
}

#edittag .dms-backend-option input[type=checkbox],
#edittag .dms-backend-option input[type=radio] {
	width: auto;
}

@media (max-width: 782px) {
	#edittag .dms-backend-option input[type=checkbox],
	#edittag .dms-backend-option input[type=radio] {
		height: 25px;
		width: 25px;
	}
}

#edittag .dms-backend-option .description,
#edittag .dms-backend-option .dms-backend-option-desc .dms-inner {
	font-size: 14px;
}

/* end: Edit Term page */

/* Add Term page */

#addtag .dms-backend-option {
	padding-left: 0;
	padding-right: 0;
}

#addtag .dms-postbox .dms-backend-option {
	padding-left: 12px;
	padding-right: 12px;
}


@media (min-width: 1200px) {
	.media-frame-content .dms-backend-option > .dms-backend-option-label.dms-col-lg-2 {
		width: 25%;
	}

	.media-frame-content .dms-backend-option > .dms-backend-option-input.dms-col-lg-10 {
		width: 75%;
	}

	.media-frame-content .dms-backend-option > .dms-backend-option-desc.dms-col-lg-offset-2 {
		margin-left: 25%;
		width: 75%;
	}
}

/* end: modal fix */

/* Add Selectize support for all selects with dms-selectize class */

.dms-selectize.selectize-control.single .selectize-input:before {
	height: 0;
	background: none;
}

.dms-selectize.selectize-control.single .selectize-input:after,
.dms-selectize.selectize-control.single .selectize-input.dropdown-active:after {
	right: 8px;
	margin-top: -2px;
	border-width: 6px 3px 0 3px;
	border-color: #000000 transparent transparent transparent;
}

.dms-selectize.selectize-control > .selectize-input,
.dms-selectize.selectize-control > .selectize-input.has-items,
.dms-selectize.selectize-control > .selectize-input.input-active {
	display: block !important;
	padding: 0;
	margin: 1px;
	border-radius: 0;
	border: 1px solid #ddd;
	color: #333333;

	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
}

.dms-selectize.selectize-control > .selectize-input > input {
	padding: 2px 5px !important;
	height: auto;
	font-size: 14px;
	vertical-align: middle;
}

.dms-modal .media-frame .dms-selectize.selectize-control > .selectize-input > input {
	height: 26px;
}

.dms-selectize.selectize-control .selectize-input > div {
	vertical-align: middle;
}

.dms-selectize.selectize-control.single .selectize-input > div {
	padding: 2px 5px;
	font-size: 14px;
}

.dms-modal .media-frame .dms-selectize.selectize-control.single .selectize-input > div {
	padding: 4px 5px;
}

.dms-selectize.selectize-control.multi .selectize-input > div {
	margin: 2px;
	padding: 0 3px;
}

.dms-modal .media-frame .dms-selectize.selectize-control.multi .selectize-input > div {
	padding: 2px 5px;
}

.dms-selectize.selectize-control .selectize-dropdown {
	margin: 0 1px;
	border: none;
	top: 33px;
}

.dms-selectize.selectize-control .selectize-dropdown .selectize-dropdown-content {
	border: 1px solid #ddd;
	max-height: 204px;
}

.dms-selectize.selectize-control .selectize-dropdown .selectize-dropdown-content div {
	height: 30px;
	background-color: #fff;
	cursor: pointer;
	border-bottom: 1px solid #ddd;
	line-height: 30px;
}

.dms-selectize.selectize-control .selectize-dropdown .selectize-dropdown-content div:hover {
	background-color: #f0f0f0;
}

/* end: Selectize */