.dms-backend-option-type-multi {
	padding: 0 !important;
}

.dms-option-type-multi > .dms-backend-option {
	border-bottom-width: 0;
}

.dms-option-type-multi > .dms-backend-option.dms-backend-option-type-multi + .dms-backend-option.dms-backend-option-type-multi {
	border-top-width: 1px;
}

/* show options separator borders */

.dms-option-type-multi.dms-option-type-multi-show-borders > .dms-backend-option {
	border-bottom-width: 1px;
}

.dms-option-type-multi.dms-option-type-multi-show-borders > .dms-backend-option:last-child {
	border-bottom-width: 0;
}

/* end: show options separator borders */

.dms-option-type-multi:not(.dms-option-type-multi-show-borders) > .dms-backend-option:not(:last-child) {
	padding-bottom: 0;
}

.dms-backend-option-type-multi.dms-backend-option-design-customizer .dms-option-type-multi > .dms-backend-option {
	padding: 5px 0 10px;
}