.dm-box,
.dm-taxonomy-wrapper{
    .dm-option{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #e2e4e7;
        padding: 23px 0px;
        box-sizing: border-box;
        &-column{
            flex: 1;
            &.left{
                max-width: 225px;
            }
            &.right {
                max-width: 428px;
            }
            &.full-width{
                max-width: 100%;
            }
        }
        &-label {
            font-weight: 600;
            float: left;
            font-size: 14px;
            line-height: 19px;
            font-style: normal;
            padding: 0;
            margin-bottom: 5px;
        }
        &-input {
            box-shadow: 0 0 0 transparent;
            border-radius: 4px;
            border: 1px solid #7e8993;
            background-color: #fff;
            color: #32373c;

            padding: 0 8px;
            line-height: 2;

            vertical-align: middle;
            max-width: 428px;
            width: 100% !important;
            min-height: 30px;
        }
        &-textarea {
            padding: 4px 6px 1px 6px;
            line-height: 20px;
        }
        &-desc {
            font-size: 13px;
            padding-top: 7px;
            padding-left: 1px;
            font-style: italic;
            color: #666;
            display: block;
            margin: 0;
        }
        &-label-list {
            display: block;
            color: rgb(68, 68, 68);
            font-size: 13px;
            line-height: 18px;
            margin-top: 6px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &:last-child{
            border-bottom: 0;
            padding-bottom: 5px;
        }
        &-typography{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li{
                flex: 0 0 8%;
                padding: 0 5px;
                box-sizing: border-box;
                > label {
                    font-size: 13px;
                    padding-top: 7px;
                    padding-left: 1px;
                    padding-bottom: 10px;
                    font-style: italic;
                    color: #666;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &:first-child{
                    padding-left: 0;
                }
            }
            .wp-picker-container{
                display: block;
                > button {
                    margin: 0;
                }
            }
        }
        &-dimensions{
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li{
                flex: 0 0 60px;
                padding: 0 5px;
                > label {
                    font-size: 13px;
                    padding-top: 7px;
                    padding-left: 1px;
                    padding-bottom: 10px;
                    font-style: italic;
                    color: #666;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                &:first-child{
                    padding-left: 0;
                }
            }
        }
        .dm-dimension-attachment-input{
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 4px;
        }
        .dm-dimension-btn{
            cursor: pointer;
            transition: all .4s;
            &.active{
                background-color: #A4AFB7;
                color: #fff
            }
        }
        .delimiter {
            display: inline-block;
            margin: 0 10px;
            font-style: normal;
            font-size: 13px;
            position: relative;
            top: 5px;
        }
        .wp-picker-container{
            > button {
                margin: 0;
            }
        }
        .select2-container{
            max-width: 428px;
            width: 100% !important;
            line-height: 15px;
            .select2-selection--multiple {
                min-height: 26px;
            }
        }
        .asRange {
            width: 100%;
            height: 5px;
            background-color: transparent;
            border-radius: 8px;
            border: 1px solid #ddd;
            max-width: 400px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
            .asRange-selected{
                background-color: #d9ecf4;
                height: 5px;
            }
            .asRange-pointer{
                height: 5px;
                width: 5px;
                cursor: pointer;
                .asRange-tip{
                    left: -1px;
                }
            }
        }
        .select2-container--default{
            .select2-search--inline .select2-search__field{
                min-height: 26px;
                margin: 0;
            }
            .select2-selection--single {
                min-height: 30px;
            }
            .select2-selection--multiple .select2-selection__rendered li.select2-search--inline {
                margin: 0;
            }
        }
        // image picker
        
          .dm-option-image_picker_selector {
              ul{
                  margin: 0;
                  padding: 0;
                  list-style: none;
                  display: flex;
                  flex-wrap: wrap;
              }
              .dm-option-image-picker-input{
                  visibility: hidden;
                  opacity: 0;
                  position: absolute;
              }
              .dm-option-image-picker-input + label{
                line-height: 0;
                border: 3px solid transparent;
                position: relative;
                padding: 2px;
                flex: 0 0 150px;
                display: block;
                margin: 0 5px 5px 0;
              }
              .dm-option-image-picker-input:checked + label {
                border: 3px solid #64bd1f;
                &:after {
                    content: "";
                    font-family: dashicons;
                    background-color: #64bd1f;
                    position: absolute;
                    right: 0px;
                    bottom: 0px;
                    border-top-left-radius: 2px;
                    color: #fff;
                    line-height: normal;
                    font-size: 20px;
                    padding: 2px 0 0 1px;
                    padding-right: 3px;
                }
              }
            li{
                line-height: 0;
                border: 3px solid transparent;
                position: relative;
                padding: 2px;
                flex: 0 0 150px;
                display: block;
                margin: 0 5px 5px 0;
                &.selected{
                    border: 3px solid #64bd1f;
                    &:after {
                        content: "";
                        font-family: dashicons;
                        background-color: #64bd1f;
                        position: absolute;
                        right: 0px;
                        bottom: 0px;
                        border-top-left-radius: 2px;
                        color: #fff;
                        line-height: normal;
                        font-size: 20px;
                        padding: 2px 0 0 1px;
                        padding-right: 3px;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
                img {
                    max-width: 100%;
                    height: auto;
                    width: 100%;
                    display: block;
                }
                .dm-img-picker-preview {
                    position: absolute;
                    top: -114%;
                    border: 3px solid #333;
                    border-radius: 3px;
                    left: 50%;
                    transform: translateX(-50%);
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .4s;
                    width: 100%;
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-top: 10px solid #333;
                        position: absolute;
                        left: 50%;
                        bottom: -13px;
                        transform: translateX(-50%);
                    }
                }
                &:hover{
                    .dm-img-picker-preview{
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
          }
        // end image picker
    }
}
.dm-taxonomy-wrapper{
    .dm-option{
        display: block;
        border: none;
        padding: 0;
        &-column{
            &.left {
            }
            &.right{
                max-width: 95%;
            }
        }
        &-label{
            float: none    
        }
        &-input{
            max-width: 100%;
        }
        .delimiter {
            top: 17px;
        }
        &-typography li {
            flex: 0 0 23%;
        }
    }
}

// repeater
.dm-repeater-inner-controls {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    overflow-y: auto;
    &.open {
        opacity: 1;
        visibility: visible;
    }
}
.dm-repeater-inner-controls-inner {
    position: absolute;
    background-color: #fff;
    top: 0;
    padding: 30px;
    left: 0;
    right: 0;
    bottom: auto;
    border-radius: 3px;
    overflow: auto;
    margin: 100px;
    margin-left: 260px;
}
.dm-repeater-popup-close{
    cursor: pointer;
}
.dm-repeater-popup-close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 24px;
    color: red;
}
.dm-repeater-sample{
    display: none;
}
.dm-repeater-child .dm-repeater-inner-controls-inner {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    left: 260px;
    top: 150px;
}

@media only screen and (max-width: 767px) {
    .dm-repeater-inner-controls-inner{
        margin-left: 100px;
    }
}

// conditional
.dm-box{
    .dm-condition-active{
        display: none;
        &.open {
            display: flex
        }
    }
}
